<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Enregistrement
        </h1>
       
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Nom</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Entrer du Nom"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Entrer de l'adresse Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Création du Mot de passe"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirmation de mot de passe</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirmation de mot de passe"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Validation
          </button>
        </form>
        <p class="lead mt-4">Si tu as déja un compte. <a href="/users/login"> Clique ici.</a></p>
      </div>
    </div>
  </div>